appdirs==1.4.4
attrs==19.3.0
Automat==20.2.0
constantly==15.1.0
coverage==5.1
decorator==4.4.2
distlib==0.3.0
filelock==3.0.12
greenlet==0.4.16
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
py==1.10.0
PyHamcrest==2.0.2
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.9.0
pytest-twisted==1.12
-e .[test]
six==1.15.0
toml==0.10.1
tox==3.15.2
Twisted==22.10.0; platform_system != "Windows" and platform_system != "Darwin"
Twisted[osx_platform]==20.3.0; platform_system == "Darwin"
Twisted[windows_platform]==20.3.0; platform_system == "Windows"
virtualenv==20.0.21
wcwidth==0.2.4
zope.interface==5.1.0
